<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
       <app-pais-input placeholder="Buscar país..." (onDebounce)="sugerencias($event)" (onEnter)="buscar($event)">
       </app-pais-input>
    </div>
</div>

<ul *ngIf="mostrarSugerencias" class="list-group">
    <li *ngFor="let item of paisesSugeridos" class="list-group-item list-group-item-action">
        <a class="nav-link" [routerLink]="['/pais', item.ccn3]">{{item.name.official}}</a>
    </li>
    <li (click)="buscarSugerido(termino)" class="list-group-item list-group-item-action">
        <a class="nav-link">Buscar: "{{termino}}"</a>
    </li>
</ul>
<hr>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontró nada con el término "{{termino}}"
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
       <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>