<table class="table table-hover">
    <thead>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Población</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of paises; let i = index">
            <td>{{i+1}}</td>
            <td>
                <img class="small-flag" src="{{item.flags.svg}}">
            </td>
            <td>{{item.capital}}, {{item.name.common}}</td>
            <td>{{item.population | number}}</td>
            <td>
                <a [routerLink]="['/pais', item.ccn3]">Ver...</a>
            </td>
        </tr>
    </tbody>
</table>